{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
<h1 class="tableTitle">Session index</h1>
<div class="tableFeatures">
    <a class="newBtn" href="{{ path('app_admin_session_new') }}">Create new Session</a>
    <form class="searchForm">
        <label for="search">Find</label>
        <input type="text" name="search">
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Date</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.type }}</td>
                <td>{{ session.date ? session.date|date('Y-m-d') : '' }}</td>
                <td>{{ session.time ? session.time|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_session_show', {'id': session.id}) }}">show</a>
                    <a href="{{ path('app_admin_session_edit', {'id': session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
