{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <h1 class="tableTitle">User index</h1>
    <div class="tableFeatures">
        <a class="newBtn" href="{{ path('app_admin_user_new') }}">Create new user</a>
    <form class="searchForm" action="{{ path('app_admin_user_search') }}" method="GET">
        <label for="search">Search</label>
        <input type="text" name="search" value="{{ app.request.query.get('search') }}">
        <button type="submit">Find</button>
    </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Fullname</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.teacher %}
                        {{ user.teacher.firstName }} {{ user.teacher.lastName }}
                    {% elseif user.student %}
                        {{ user.student.firstName }} {{ user.student.lastName }}
                    {% else %}
                        unknown
                    {% endif %}
                </td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td classname="actionBtn">
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
