{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
<h1 class="tableTitle">Formation index</h1>
<div class="tableFeatures">
    <a class="newBtn" href="{{ path('app_admin_formation_new') }}">Create new formation</a>
    <form class="searchForm">
        <label for="search">Find</label>
        <input type="text" name="search">
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Objective</th>
                <th>Duration</th>
                <th>Cost</th>
                <th>StartDate</th>
                <th>Satisfaction</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.title }}</td>
                <td>{{ formation.objective }}</td>
                <td>{{ formation.duration }}</td>
                <td>{{ formation.cost }}</td>
                <td>{{ formation.startDate ? formation.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ formation.satisfaction }}</td>
                <td>
                    <a href="{{ path('app_admin_formation_show', {'id': formation.id}) }}">show</a>
                    <a href="{{ path('app_admin_formation_edit', {'id': formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
