{% extends 'base.html.twig' %}

{% block title %}Lesson index{% endblock %}

{% block body %}
<h1 class="tableTitle">Lesson index</h1>
<div class="tableFeatures">
    <a class="newBtn" href="{{ path('app_admin_lesson_new') }}">Create new lesson</a>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Language</th>
                <th>Level</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.language.name }}</td>
                <td>{{ lesson.level }}</td>
                <td>{{ lesson.title }}</td>
                <td>{{ lesson.content }}</td>
                <td>
                    <a href="{{ path('app_admin_lesson_show', {'id': lesson.id}) }}">show</a>
                    <a href="{{ path('app_admin_lesson_edit', {'id': lesson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
