{% extends 'base.html.twig' %}

{% block title %}Assignment index{% endblock %}

{% block body %}
<h1 class="tableTitle">Assignment index</h1>
<div class="tableFeatures">
    <a class="newBtn" href="{{ path('app_admin_assignment_new') }}">Create new assignment</a>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>StartDate</th>
                <th>DueDate</th>
                <th>Grade</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assignment in assignments %}
            <tr>
                <td>{{ assignment.id }}</td>
                <td>{{ assignment.title }}</td>
                <td>{{ assignment.content }}</td>
                <td>{{ assignment.startDate ? assignment.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ assignment.dueDate ? assignment.dueDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ assignment.grade }}</td>
                <td>
                    <a href="{{ path('app_admin_assignment_show', {'id': assignment.id}) }}">show</a>
                    <a href="{{ path('app_admin_assignment_edit', {'id': assignment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
