{% extends 'base.html.twig' %}

{% block title %}Show Language{% endblock %}

{% block body %}
<h2>Show every Languages</h2>
{% for language in languages %}
______________________________________________________________________________________________________
<p>{{ language.id }}</p>
<p>{{ language.name }}</p>
______________________________________________________________________________________________________
{% endfor %}

<h2>Show New Language</h2>
______________________________________________________________________________________________________

<p>{{ newLanguage.id }}</p>
<p>{{ newLanguage.name }}</p>
______________________________________________________________________________________________________

<h2>Show Language ID 7</h2>
______________________________________________________________________________________________________

<p>{{ language7.id }}</p>
<p>{{ language7.name }}</p>
______________________________________________________________________________________________________

<h2>Show Language ID 2 Update</h2>
______________________________________________________________________________________________________

<p>{{ updateLanguage2.id }}</p>
<p>{{ updateLanguage2.name }}</p>
______________________________________________________________________________________________________

{% endblock %}
