{% extends 'base.html.twig' %}

{% block title %}Show User{% endblock %}

{% block body %}

<h2>Show every Users</h2>
{% for user in users %}
__________________________________________________________________________________

<p> ID : {{ user.id }}</p>
<p> Mail : {{ user.email }}</p>
<p> Roles : {{ user.roles|join(', ')}}</p>

__________________________________________________________________________________
{% endfor %}
<h2>Show User</h2>
__________________________________________________________________________________

<p> ID : {{ user7.id }}</p>
<p> Mail : {{ user7.email }}</p>
<p> Roles : {{ user7.roles|join(', ')}}</p>

<h2>Show User newUser</h2>
__________________________________________________________________________________

<p> ID : {{ newUser.id }}</p>
<p> Mail : {{ newUser.email }}</p>
<p> Roles : {{ newUser.roles|join(', ')}}</p>

__________________________________________________________________________________
<h2>Show User Update ID 2</h2>

<p> ID : {{ userUpdate2.id }}</p>
<p> Mail : {{ userUpdate2.email }}</p>
<p> Roles : {{ userUpdate2.roles|join(', ')}}</p>
__________________________________________________________________________________
{% endblock %}
