{% extends 'base.html.twig' %}

{% block title %}Teacher index{% endblock %}

{% block body %}
<div {{ react_component('Navbar') }}></div> 
    <h1 class="text-5xl font-extrabold text-center">Teacher index</h1>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Id</th>
                <th scope="col" class="px-6 py-3">FirstName</th>
                <th scope="col" class="px-6 py-3">LastName</th>
                <th scope="col" class="px-6 py-3">Nationality</th>
                <th scope="col" class="px-6 py-3">Qualification</th>
                <th scope="col" class="px-6 py-3">Availability</th>
                <th scope="col" class="px-6 py-3">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4">{{ teacher.id }}</td>
                <td class="px-6 py-4">{{ teacher.firstName }}</td>
                <td class="px-6 py-4">{{ teacher.lastName }}</td>
                <td class="px-6 py-4">{{ teacher.nationality }}</td>
                <td class="px-6 py-4">{{ teacher.qualification }}</td>
                <td class="px-6 py-4">{{ teacher.availability }}</td>
                <td class="px-6 py-4">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"  href="{{ path('app_admin_teacher_show', {'id': teacher.id}) }}">show</a>
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline"  href="{{ path('app_admin_teacher_edit', {'id': teacher.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 px-6 py-4" href="{{ path('app_admin_teacher_new') }}">Create new</a>
{% endblock %}
