{% extends 'base.html.twig' %}

{% block title %}Quiz index{% endblock %}

{% block body %}
<h1 class="tableTitle">Quiz index</h1>
<div class="tableFeatures">
    <a class="newBtn" href="{{ path('app_admin_quiz_new') }}">Create new quiz</a>
    <form class="searchForm">
        <label for="search">Find</label>
        <input type="text" name="search">
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Score</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.title }}</td>
                <td>{{ quiz.question }}</td>
                <td>{{ quiz.answer }}</td>
                <td>{{ quiz.score }}</td>
                <td>{{ quiz.level }}</td>
                <td>
                    <a href="{{ path('app_admin_quiz_show', {'id': quiz.id}) }}">show</a>
                    <a href="{{ path('app_admin_quiz_edit', {'id': quiz.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
