{% extends 'base.html.twig' %}

{% block title %}Language index{% endblock %}

{% block body %}
<h1>Language index</h1>
<table>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Flag</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for language in languages %}
        <tr>
            <td>{{ language.id }}</td>
            <td>{{ language.name }}</td>
            <td>
                {% if language.imageName %}
                    <img loading="lazy" src="{{ vich_uploader_asset(language, 'imageFile') | imagine_filter('flag_mini') }}" alt="photo de {{ language.name }}" >
                {% endif %}
            </td>
            <td>
                <a href="{{ path('app_admin_language_show', {'id': language.id}) }}">show</a>
                <a href="{{ path('app_admin_language_edit', {'id': language.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ path('app_admin_language_new') }}">Create new</a>
{% endblock %}
