{% extends 'base.html.twig' %}

{% block title %}Language index{% endblock %}

{% block body %}
<h1 class="tableTitle">Language index</h1>
<div class="tableFeatures">
    <a class="newBtn" href="{{ path('app_admin_language_new') }}">Create new language</a>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Flag</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for language in languages %}
        <tr>
            <td>{{ language.id }}</td>
            <td>{{ language.name }}</td>
            <td>
                {% if language.imageName %}
                    <img loading="lazy" src="{{ vich_uploader_asset(language, 'imageFile') | imagine_filter('flag_mini') }}" alt="photo de {{ language.name }}" >
                {% endif %}
            </td>
            <td>{{ language.description }}</td>
            <td>
                <a href="{{ path('app_admin_language_show', {'id': language.id}) }}">show</a>
                <a href="{{ path('app_admin_language_edit', {'id': language.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
